.Header {
    margin-top: 30px;
}
.HeaderBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HeaderLogo {
    cursor: pointer;
}
.HeaderList {
    padding: 10px 20px;
    display: flex;
    gap: 40px;
    align-content: center;
    justify-content: center;
    border-radius: 30px;
    background: #000;
    color: white;
    & li {
        position: relative;
        &::before {
            position: absolute;
            bottom: -3px;
            width: 0;
            left: 0;
            content: "";
            background-color: #fff;
            height: 1px;
            transition: width 0.3s;
        }
        cursor: pointer;
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}
.HeaderLogin {
    color: #000;
    font-size: 18px;
    width: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
}
